header, footer {
text-align: center;
}
h2 {
background-color: lightblue;
text-align: center;
}
.icon {
margin: 30px;
}
.Skills, .MyCV, .Education, .Achievements {
display: -webkit-flex;
display: flex;
}
*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
